
<!--Modal starts here-->

<div class="ui small test modal">

    <div id="modal-header" class="header">

    </div>
    <div class="content">
       <form method="post" action="/transaction/dashboardPost">
       <div class="ui grid">
          <div class="four wide column">  <img id="modal-img" src="" class="img-thumbnail"></div>
          <div class="eight wide column">
            <div class="ui tiny form">
                  <div class="field">
                    <a class="ui teal tag label modal-price"></a>
                  </div>
                  <div class="field">
                    <input class="numericOnly" name="amount" id="amt" placeholder="Amount" type="text">
                    <div id="modal-amount" class="ui pointing label">
                      Please enter amount eg. 5 for five Coins
                    </div>
                  </div>

                  <div class="field">

                    <input readonly id="total" name="total" placeholder="Total" type="number">
                    <input  id="price" name="price" type="hidden"  readonly></input>
                    <input id="name" name="name" type="hidden"  readonly></input>
                  </div>

                  <input name="coinId" id="coinId" type="hidden"/>
              </div>
          </div>
       </div>
       <hr>
         <div class="ui buttons actions">
          <button type="button" class="ui button cancel">Cancel</button>
          <div class="or"></div>
          <button type="submit" id="btn-submit" class="ui positive button">Buy Coin</button>
        </div>
     </form>
    </div>
  </div>
<!--Modal ends here-->
{{#if success_msg}}
<hr>
  <div class="alert alert-success">{{success_msg}}</div>
{{/if}}
{{#if user.roleId}}
      <div class="panel panel-container">
        <div class="row">
          <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-teal panel-widget border-right">
              <div class="row no-padding"><em class="fa fa-xl fa-users color-blue"></em>
                <div class="large">{{users}}</div>
                <div class="text-muted">Total Users</div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-blue panel-widget border-right">
              <div class="row no-padding"><em class="fa fa-xl fa-money color-orange"></em>
                <div class="large">{{transaction}}</div>
                <div class="text-muted">Total Transact</div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-orange panel-widget border-right">
              <div class="row no-padding"><em class="fa fa-xl fa-thumbs-up color-teal"></em>
                <div class="large">{{approved}}</div>
                <div class="text-muted">Confirmed Transact</div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-red panel-widget ">
              <div class="row no-padding"><em class="fa fa-xl fa-thumbs-down color-red"></em>
                <div class="large">{{transacByStatus}}</div>
                <div class="text-muted">Unconfirmed Transact</div>
              </div>
            </div>
          </div>
        </div><!--/.row-->
      </div>
{{else}}
{{#if user.status}}
  <div style="padding-top:40px; padding-bottom:40px" class="panel panel-container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">

        <table class="ui celled table">
            <thead>
              <tr>
                <th>Coin Name</th>
                <th>Price</th>
                <th></th>

            </tr>
          </thead>
            <tbody>
                {{#each cryptos}}
              <tr>
                <td>
                  <h4 class="ui image header">
                    <img src="/uploads/{{this.path}}" class="ui mini rounded image">
                    <div class="content">
                      {{this.coinName}}
                      <div class="sub header">{{this.initial}}
                    </div>
                  </div>
                </h4>
              </td>
              <td>
                {{this.buyPrice}}
              </td>
              <td><a class="ui primary basic button item  item" id="{{this.id}}" data-path="{{this.path}}" data-initial="{{this.initial}}" data-name ="{{this.coinName}}" data-price ="{{this.buyPrice}}">Buy</a></td>
              {{/each}}
              </tr>
            </tbody>
          </table>
    </div>

    <div class="col-lg-4">
      <a href="/openAccount" class="fluid ui orange button">Create a Digital Account With Us</a>

      <div class="ui top attached info message">Attention!</div>
      <div class="ui bottom attached segment">Please click on buy button to select a digital currency you want to buy. The orange button labelled "Create a Digital Account With Us" allows us to assist you if you wish to create a crypto currency account with us (this generates a wallet address for you). </div>

    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
{{else}}
  <div class="panel panel-danger">
    <div class="panel-heading">Verification Needed</div>
    <div class="panel-body">
      <p><h4>Please activate your account <a href="/resendVerification">Resend activation link </a></h4></p>
    </div>
  </div>
{{/if}}
{{/if}}



	<!-- <div class="row">
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>New Orders</h4>
						<div class="easypiechart" id="easypiechart-blue" data-percent="92" ><span class="percent">92%</span></div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Comments</h4>
						<div class="easypiechart" id="easypiechart-orange" data-percent="65" ><span class="percent">65%</span></div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>New Users</h4>
						<div class="easypiechart" id="easypiechart-teal" data-percent="56" ><span class="percent">56%</span></div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Visitors</h4>
						<div class="easypiechart" id="easypiechart-red" data-percent="27" ><span class="percent">27%</span></div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
    <script>
    $(document).ready(function() {
      var price = $("#price");
      var total = $("#total");
      var amt = $("#amt");
      $(".item").click(function(){
        $('.small.modal')
          .modal('show')
        ;
        total.val("");
        amt.val("");
         $("#modal-img").attr("src","/uploads/"+$(this).attr("data-path"))
         $("#modal-header").empty().html($(this).attr("data-name")+"("+ $(this).attr("data-initial")+")");
         $("#modal-amount").empty().html("Please enter amount eg. 5 for five "+$(this).attr("data-name"));
         $(".modal-price").empty().html($(this).attr("data-price")+" Naira per "+$(this).attr("data-name"));
         $("#name").val($(this).attr("data-name"));
         price.val($(this).attr("data-price"));
        $("#coinId").val($(this).attr("id"));
        total.empty();

         amt.keyup(function(){
          total.empty().val(parseFloat(amt.val()) * parseFloat(price.val()));
         })
      });
      $(".numericOnly").keypress(function (e) {
         if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false;
      });
    //  var price = $("#price");


      var btnSubmit =  $("#btn-submit");
      btnSubmit.prop('disabled', true);

      amt.keyup(function(){

          if($(this).val() === "")
            btnSubmit.prop('disabled', true);
          else
            btnSubmit.prop('disabled', false);
      });


        $('#coinList').DataTable();
    } );
    </script>
